body {
    background: linear-gradient(180deg, #03045E 0%, #3E3A8F 32.81%, #03045E 100%) fixed;
    line-height: normal;
}



p {
    color: white;
    font-family: var(--font-mont);
    font-size: 14px;
    font-weight: 300;
    margin-right: 7%;
    margin-left: 7%;
    line-height: normal;
}

.ligne {
    text-align:center;
    margin:auto;
    display:flex; 
    margin-top: 15%;
    margin-bottom: 17%;
}

h1 {
    font-size: 18px;
    font-family: var(--font-arvo);
    font-weight: 700;
    margin-left: 13%;
    margin-right: 10%;
    color: white;

}


h2 {
    font-size: 24px;
    font-family: var(--font-arvo);
    font-weight: 600;
    margin-left: 5%;
    margin-right: 10%;
    color: white;
}


h3 {
    color: white;
    font-family: var(--font-mont);
    font-size: 12px;
    font-weight: 300;
    margin-right: 15%;
    margin-left: 15%;
}

.titreArticle {
    color: white;
    font-family: var(--font-arvo);
    font-size: 18px;
    font-weight: 500;
    margin-right: 7%;
    margin-left: 7%;
    line-height: normal;
}

.ligneBlanc {
    text-align:center;
    margin:auto;
    display:flex;
    margin-top: 15%; 
}