.GE {

        width: 200px;
        height: 170px;
        padding-top: 60px;
        text-align:center;
        margin:auto;
        display:flex;
}

.menu2 {
    position: absolute;
    left: 84%;
    right: 29.39%;
    top: 2%;
    bottom: 70.23%;
    width: 44px;
    height: 40px;

}