.GE {

        width: 200px;
        height: 170px;
        padding-top: 60px;
        text-align:center;
        margin:auto;
        display:flex;
}

.logoFR { position: relative;
    top: 280px;
    left: -160px;
    margin-right: 5%;
}

.logoEn {
    
    position: relative;
    top: 280px;
    left: -160px;
}
